.card {
    display: inline-block;
    border: 1px solid var(--gray-5);
    border-radius: 15px;
    @extend .shadow-2;
    padding: 24px 50px 30px;

    &.card-555 {
        max-width: 555px !important;
    }

    &.card2 {
        border-color: var(--light-neutral-3);
        box-shadow: var(--shadow-3);
    }
}